body {
  background-color: blue;
  display: grid;
  place-items: center;
}
header {
  color: white;
}
section {
  background-color: white;
  width: 550px;
  height: auto;
  padding: 15px;
  border-radius: 15px;
}
#chosenNumber {
  cursor: text;
}
[name="clickableButton"] {
  cursor: pointer;
}
#listWithResults {
  width: 250px;
  height: 230px;
  border-radius: 5px;
  background-color: aqua;
  overflow: auto;
  padding: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#divwithAllResults {
  font: normal 15pt Verdana;
}
