body {
  background-color: black;
}
header {
  font: normal 10pt Verdana;
  color: whitesmoke;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
}
section {
  color: white;
  background-color: grey;
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.671);
}
footer {
  text-align: center;

  color: darkblue;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
footer a {
  
  color: rgb(34, 0, 255);
  font: bold 15pt Courier;
  font-style: italic;
}
#imagemicondoGitHub {
  margin-left: 7px;
  width: 45px;
  position: relative;
  border-radius: 100%;
}
#Horario {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.Relogio {
  color: black;
  background-color: white;
  padding: 16px;
  font: normal 50pt Orbitron;
  border-radius: 20px;
  text-align: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.445);
}
#pngDiaTardeNoite {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  border-radius: 100%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.575);
}
