body {
  background-color: rgb(131, 57, 57);
}
#secção1 {
  background-color: whitesmoke;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  padding: 9px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.514);
}#secção2{
    background-color: burlywood;
    margin-top: 23px;
    width: 200px;
    padding-left: 12px;
    padding-top: 3px;
    border-radius: 12px;
    
}
#backgroudTextoTabuada {
  background-color: aquamarine;
  display: grid;
  place-items: center;
  border-radius: 20px;
  width: 120px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.445);
  
}
#ValorTabuada {
  border-radius: 5px;
  margin-left: 10px;
  
}
#Resultados{
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 185px;
    
}#BotaoVerificar{
    margin-top: 24px;
    margin-left: 12px ;
    height: 42px;
    width: 80px;
}
